.palette_pop{
display:none;
position:absolute;
width:99px;
line-height:18px;
overflow:hidden;
margin:0;
padding:0;
border:1px solid #FFC356;
background-color:#FFF;
}

.palette_title{
width:99px;
line-height:14px;
vertical-align:middle;
margin:0;
padding:0;
background-color:#FFC356;
color:#333;
font-size:12px;
}

.palette_title_left{
float:left;
width:79px;
height:16px;
vertical-align:middle;
background-color:#FFC356;
}

.palette_title_right{
float:left;
width:20px;
height:16px;
vertical-align:middle;
background-color:#FFC356;
text-align:right;
}

.image_close{
margin:2px;
}

a.image_close:hover{
background-color:transparent;
}

.palette_body{
clear:both;
padding:5px 0; 
background-color:#FFF;
text-align:left;
word-break:break-all;
}
