@charset "euc-jp";

/*---- headerArea ----*/
body.logout div#page.regist #headerArea{
height:117px;
background:url(images/join_bg_header001.gif) no-repeat 0 0;
}

body.logout div#page.regist #headerArea h1{
width:284px;
padding:20px 0 19px 15px;
}


/*---- promotionLogo:TVロゴ ----*/
body.logout div#page.regist #headerArea h1 img{
display:none;
}

body.logout div#page.regist #headerArea h1{
height:80px;
padding:0;
background:url(images/mixi_logo_pc_register001.gif)  no-repeat 15px 10px;
}


/*---- common ----*/
div#page.regist #bodyArea{
margin:0 5px 5px;
padding:1px 0 30px 0;
background:#F5F5F5;
}

div#page.regist #bodyArea #registrationArea{
width:745px;
margin:0 auto;
}

div#page.regist #footerArea p#copyright{
background:url(images/dotline_horizontal002.gif) repeat-x 0 0;
}

#registrationArea .heading16{
position:relative;
width:719px;
height:24px;
line-height:24px;
padding:0 5px 0 21px;
background:url(images/body_contents_join002.gif) no-repeat 0 0;
}

#registrationArea .heading16 h2,
#registrationArea .heading16 h3{
font-weight:bold;
}

#registrationArea .heading16 em{
font-size:83%;
}

#registrationArea .heading16 .headingLink{
position:absolute;
top:0;
right:10px;
font-size:83%;
}

#registrationArea span.inputAlert01{
display:block;
margin:3px 0;
padding-left:21px;
background:url(images/simplealert_alert002.gif) no-repeat 0 0;
color:#F00;
font-size:83%;
font-weight:bold;
text-align:left !important;
}

#registrationArea div.messageArea p.alert{
color:#F00;
font-weight:bold;
}

#registrationArea div.messageArea span.txtLarge{
font-size:133%;
}

#registrationArea #errorArea div.contents{
background:#FFF url(images/alert003.gif) no-repeat 150px 50%;
}

#registrationArea .errorInput{
border:1px solid #F7B4B4;
background:#FEEDED !important;
}

#registrationArea div.confirm01,
#registrationArea div.confirm03{
background-color:#FFF;
}

#registrationArea .formButtons01{
zoom:1;
}

#registrationArea .formButtons01 input{
padding-bottom:1px;/*HackforIE6*/
text-align:center;
}

input.defaultText,
textarea.defaultText{
color:#999;
}

.imgBtn{
padding:0;
border:none;
vertical-align:middle;
}

.red{
color:#f00;
}

.toCenter{
text-align:center;
}

.toRight{
text-align:right;
}

.mb15{
margin-bottom:15px;
}

.txtLarge{
font-size:116%;
}


/*---- registStep:登録ステップ ----*/
div#page.regist div.registStep,
div#page.regist div.registStep02{
padding-bottom:20px;
}

div#page.regist div.registStep h2{
width:745px;
height:50px;
margin:0 auto;
background:url(images/join_step001.gif) no-repeat;
text-indent:-9999px;
}

div#page.regist div.registStep02 h2{
width:477px;
height:50px;
margin:0 auto;
background:url(images/join_step002.gif) no-repeat;
text-indent:-9999px;
}

div#page.regist div.registStep h2.step01,
div#page.regist div.registStep02 h2.step01{
background-position:0 0;
}

div#page.regist div.registStep h2.step02{
background-position:0 50%;
}

div#page.regist div.registStep h2.step03,
div#page.regist div.registStep02 h2.step02{
background-position:0 100%;
}


/*---- inner:コンテンツ枠 ----*/
#registrationArea div.userInputArea div.contents{
padding:10px 20px;
border:1px solid #FBB14E;
border-top:none;
background:url(images/bg_stripe001.gif);
}

#registrationArea div.userInputArea div.inner{
padding:15px;
border:1px solid #FBB14E;
background-color:#FFF;
}


/*---- inputEmail/inputFriendEmail:メールアドレス入力（自分・友人） ----*/
#registrationArea div.inputEmail{
min-height:250px;
_height:250px;
background:#FFF url(images/join_promo001.jpg) no-repeat 436px 15px;
}

#registrationArea div.pics2{
background:#FFF url(images/join_promo002.jpg) no-repeat 436px 15px;
}

#registrationArea div.inputFriendEmail{
position:relative;
min-height:250px;
_height:250px;
background:#FFF url(images/join_promo004.jpg) no-repeat 436px 15px;
}

#registrationArea div.inputEmail h4,
#registrationArea div.inputFriendEmail h4{
margin-bottom:1em;
}

#registrationArea div.inputEmail h5{
margin:20px 0 1em 0;
}

#registrationArea div.inputEmail p,
#registrationArea div.inputFriendEmail p{
width:400px;
margin-bottom:8px;
}

#registrationArea div.inputEmail p.registEmail input.email{
width:394px;
font-size:116%;
}

#registrationArea div.inputFriendEmail div.inputArea{
width:400px;
padding-top:10px;
overflow:hidden;
word-break:break-all;
}

#registrationArea div.inputFriendEmail div.inputArea ul.formButtons01{
background:none;
}

#registrationArea div.inputFriendEmail div.inputArea p.friendEmail{
width:360px;
min-height:28px;
_height:28px;
padding:0 0 0 40px;
}

#registrationArea div.inputFriendEmail div.inputArea p.icon01{background:url(images/join_friend_mail001.gif) no-repeat 0 0;}
#registrationArea div.inputFriendEmail div.inputArea p.icon02{background:url(images/join_friend_mail002.gif) no-repeat 0 0;}
#registrationArea div.inputFriendEmail div.inputArea p.icon03{background:url(images/join_friend_mail003.gif) no-repeat 0 0;}

#registrationArea div.inputFriendEmail div.inputArea input.email{
width:350px;
margin-top:4px;
}

#registrationArea div.inputFriendEmail div.inputArea img{
vertical-align:middle;
margin-right:10px;
}

#registrationArea div.inputFriendEmail div.inputArea span.inputAlert01{
display:block;
margin:3px 0 0 0;
}

#registrationArea div.inputEmail p.registEmail span{
display:block;
text-align:left;
}

#registrationArea div.inputFriendEmail div.inputArea p.formButtons01{
padding:10px 0 0;
background:none;
text-align:center;
}

#registrationArea div.inputFriendEmail p.moreLink01{
position:absolute;
right:15px;
bottom:10px;
}

#registrationArea div.inputEmail p.sentInfo{
width:384px;
padding:30px 8px;
background:#f8f8f8;
font-weight:bold;
font-size:133%;
text-align:center;
word-break:break-all;
overflow:hidden;
}

#registrationArea div.userInputArea .supplement01{
margin:10px 0 0;
}

#registrationArea div.userInputArea p.formButtons01{
padding:15px 0 0;
background:none;
text-align:center;
}


/*---- editList01:mixiプロフィール登録 ----*/
#registrationArea #editList01 #joinLoginInfo{
margin-top:10px;
}

#registrationArea #editList01 h3.inputCategory{
padding:5px 10px;
border:1px solid #FBB14E;
border-top:none;
background:#FEE7C6;
}

#registrationArea #editList01 ul.editContents li dl dd{
width:583px;
}

#registrationArea #editList01 ul.editContents li dl dd input,
#registrationArea #editList01 ul.editContents li dl dd select{
vertical-align:text-bottom;
}

#registrationArea #editList01 ul.editContents li dl dd p.editItem01{
float:left;
width:400px;
}

#registrationArea #editList01 ul.editContents li dl dd p.openRange{
float:right;
width:183px;
text-align:right;
_position:absolute;/*IE6Hack*/
}

#registrationArea #editList01 ul.editContents li dl dd p.supplement01{
clear:both;
margin-top:3px;
}

#registrationArea #editList01 ul.editContents li dl dd img{
margin-left:10px;
vertical-align:middle;
}

#registrationArea #editList01 .formButtons01 ul.approval01{
margin-bottom:10px;
}

#registrationArea #editList01 .formButtons01 ul.approval01{
margin-bottom:10px;
}


/*---- registHelpWindow:項目説明ポップアップ ----*/
.popup div.registHelpWindow ul.editContents li.category{
background-color:#FEE7C6;
}

.popup div.registHelpWindow ul.editContents li.category dd{
background:url(images/dotline_vertical001.gif) repeat-y 0 0;
}


/*---- authenticate:携帯認証 ----*/
#registrationArea div.authenticate h4{
margin-bottom:1em;
margin-top:10px;
}

#registrationArea div.authenticate p{
margin-bottom:1em;
}

#registrationArea div.authenticateInput div{
float:left;
min-height:275px;
_height:275px;
border:1px solid #FBB14E;
background:#FFF;
text-align:center;
}

#registrationArea div.authenticateInput div h4{
height:25px;
margin:0;
border-bottom:1px solid #FBB14E;
text-indent:-9999px;
}

#registrationArea div.authenticateInput div .supplement01{
padding:0 10px;
text-align:left;
}

#registrationArea div.authenticateInput div .formButtons01{
background:none;
text-align:center;
} 

#registrationArea div.authenticateInput div.cellphoneConfirm{
width:390px;
}

#registrationArea div.authenticateInput div.cellphoneConfirm h4{
margin-bottom:25px;
background:#FEE7C6 url(images/join_cellphone001.gif) no-repeat 10px 50%;
}

#registrationArea div.authenticateInput div.cellphoneConfirm p.email{
margin-bottom:30px;
padding-left:20px;
background:url(images/ketai001.gif) no-repeat 32px 1px;
font-size:12px;
}

#registrationArea div.authenticateInput div.cellphoneConfirm p.email input{
width:160px;
}

#registrationArea div.authenticateInput div.cellphoneConfirm p.email .inputAlert01{
margin-left:35px;
}

#registrationArea div.authenticateInput p.or{
float:left;
width:58px;
height:275px;
background:url(images/join_or001.gif) no-repeat 50% 50%;
text-indent:-9999px;
}

#registrationArea div.authenticateInput div.barcodeConfirm{
width:250px;
}

#registrationArea div.authenticateInput div.barcodeConfirm h4{
background:#FEE7C6 url(images/join_barcode001.gif) no-repeat 10px 50%;
margin-bottom:15px;
}

#registrationArea div.authenticateInput div.barcodeConfirm img{
margin-bottom:8px;
}

#registrationArea div.pics3{
background:#FFF url(images/join_promo003.jpg) no-repeat 436px 15px;
}


/*---- joined:登録完了 ----*/
#registrationArea div.joined .formButtons01{
margin:5px 0 15px;
background:none;
text-align:center;
}


/*---- recommendFriendBox:登録時紹介マイミクシィ ----*/
div.recommendFriendBox{
margin-top:15px;
}

div.recommendFriendBox div.contents{
width:688px;
padding:15px 35px 10px 20px;
border:1px solid #FBB14E;
border-top:none;
background:#FFF;
}

div.recommendFriendBox div.parentalUser h4,
div.recommendFriendBox div.recommendUser h4{
display:none;
}

div.recommendFriendBox div.photoArea{
float:left;
width:180px;
text-align:center;
word-break:break-all;
overflow:hidden;
}

div.recommendFriendBox div.photoArea img{
margin-bottom:7px;
}

div.recommendFriendBox div.recommendUser{
float:right;
width:473px;
}

div.recommendFriendBox div.recommendUser div.balloon{
margin-bottom:10px;
background:url(images/bg_balloon_bottom001.gif) no-repeat 9px 100%;
}

div.recommendFriendBox div.recommendUser div.balloon dl{
background:url(images/bg_balloon_top001.gif) no-repeat 0 0;
}

div.recommendFriendBox div.recommendUser div.balloon dt{
float:left;
width:76px;
padding:13px 0 10px 24px;
text-align:center;
}

div.recommendFriendBox div.recommendUser div.balloon dd{
float:right;
width:343px;
padding:15px;
}

div.recommendFriendBox div.recommendUser div.balloon h5{
line-height:1.3;
margin-bottom:5px;
}

div.recommendFriendBox div.recommendUser div.balloon p{
line-height:1.1;
margin-bottom:8px;
word-break:break-all;
overflow:hidden;
}

div.recommendFriendBox div.recommendUser div.balloon ul{
text-align:right;
}

div.recommendFriendBox div.recommendUser div.balloon li{
display:inline;
font-weight:bold;
}

div.recommendFriendBox div.recommendUser div.balloon input{
margin:0 3px 0 10px;
vertical-align: middle;
}

div.recommendFriendBox div.recommendUser div.balloon ul.formButtons01{
padding:3px 0 4px;
background:none;
}

div.recommendFriendBox div.recommendUser div.balloon ul.formButtons01 input{
margin-right:0;
font-weight:normal;
}

div.recommendFriendBox p.formButtons01{
clear:both;
border:1px solid #FBB14E;
border-top:none;
text-align:center;
}


/*---- inviteBox:招待状 ----*/
#registrationArea.join div.inviteBox{
margin-bottom:10px;
}

#registrationArea.join div.inviteBox p{
padding-left:0;
}

#registrationArea.join div.inviteBox p.supplement01{
color:#999;
}

#registrationArea.join div.messageArea div.contents{
border:1px solid #CCC;
border-top:none;
background:#F9F8F5;
}

#registrationArea.join div.inviteBox div.contents div.subContents{
padding:10px 20px;
border:1px solid #E6E5E5;
background:#FFF;
}

#registrationArea.join div.inviteBox div.inviteMessage{
height:140px;
overflow:auto;
margin:10px 0;
padding:12px 10px;
border:1px solid #E6E6E6;
background:#FFFCF1 url(images/bg_join_message002.gif) no-repeat 0 0;
_background-attachment:fixed;
}

#registrationArea.join div.inviteBox p.registForm,
#registrationArea.join div.inviteBox p.registerBtn{
margin:5px 0;
text-align:center;
}

#registrationArea.join div.inviteBox p.registerBtn input{
padding:0;
border:none;
}


/*---- profileArea:紹介者プロフィール ----*/
#registrationArea.join div.profileArea div.confirm01{
padding:5px 15px;
font-weight:normal;
}

#registrationArea.join div.profileArea div.detailProfile{
padding:10px 16px;
border:1px solid #FBB14E;
border-top:none;
background:url(images/join_bg_profile001.gif) repeat 0 0;
}

#registrationArea.join #myArea{
padding:4px;
border:1px solid #D0D0D1;
background:#EDECEC;
}

#registrationArea.join #myArea div.profilePhoto{
padding-bottom:4px;
background:url(images/profilephoto_bg_bottom001.gif) no-repeat 0 100%;
}

#registrationArea.join #myArea div.profilePhoto h2{
height:4px;
line-height:4px;
background:url(images/profilephoto_bg_top001.gif) no-repeat 0 0;
text-indent:-9999px;
}

#registrationArea.join #myArea div.profilePhoto div.contents{
padding:7px 10px;
border-right:1px solid #D0D0D1;
border-left:1px solid #D0D0D1;
background:#F9F8F8;
}

#registrationArea.join #myArea div.profilePhoto div.contents p{
text-align:center;
}

#registrationArea.join #myArea div.profilePhoto div.contents p.photo{
padding:7px 0 9px;
background:#fff;
}

#registrationArea.join #myArea div.profilePhoto div.contents p.photo span.moreLink01{
display:block;
padding-top:9px;
text-align:center;
}

#registrationArea.join #myArea div.profilePhoto div.contents p.name{
padding-top:9px;
}

#registrationArea.join #myArea div.profilePhoto div.contents p.name span.loginTime{
display:block;
padding-bottom:7px;
font-size:83%;
text-align:center;
}

#registrationArea.join #profile.section01{
margin:0;
padding:0;
}

#registrationArea.join #profile div.sectionBody{
padding:6px;
border:1px solid #D0D0D1;
border-top:none;
background:#F9F8F8;
}

#registrationArea.join #profile div.profileListTable{
background:#fff url(images/profilelist_bg_bottom001.gif) no-repeat 0 100%;
}

#registrationArea.join #profile div.profileListTable div{
background:url(images/profilelist_bg_top001.gif) no-repeat 0 0;
}

#registrationArea.join #profile div.profileListTable table{
width:417px;
background:url(images/border_dot_vertical001.gif) repeat-y 94px 0;
table-layout:fixed;
}

/* safari only \*/
@media screen and (-webkit-min-device-pixel-ratio:0){
#registrationArea.join #profile div.profileListTable table{
table-layout:inherit;
}
}

#registrationArea.join #profile div.profileListTable table tr{
background:url(images/border_dot_horizontal001.gif) repeat-x 0 100%;
}

#registrationArea.join #profile div.profileListTable table tr.listBottom{
background-image:none;
}

#registrationArea.join #profile div.profileListTable table tr th{
width:85px;
}

#registrationArea.join #profile div.profileListTable table tr td{
width:312px;
word-break:break-all;
}

#registrationArea.join #profile div.profileListTable table tr td img{
vertical-align:middle;
margin-left:10px;
}

#registrationArea.join #profile div.profileListTable table tr td img.emoji{
margin-left:2px;
vertical-align:text-bottom;
}

#registrationArea.join #profile div.profileListTable table tr th,
#registrationArea.join #profile div.profileListTable table tr td{
padding:5px;
vertical-align:top;
overflow:hidden;
}

#registrationArea.join #profile p.moreLink01{
padding:12px 0 1px;
}


/*---- 学校会社 検索・登録 ----*/
#registrationArea div.confirm01 p.moreLink01{
margin:0;
padding:0 10px 3px;
font-weight:normal;
}

#registrationArea div.resultSearchSchool div.pageNavigation01{
width:743px;
}

#registrationArea div.resultSearchSchool ul.entryList01 li{
width:711px;
padding:8px 16px;
}

#registrationArea div.resultSearchSchool ul.entryList01 li:after{
content:".";
display:block;
clear:both;
height:0;
visibility:hidden;
}

#registrationArea div.resultSearchSchool ul.entryList01 li.odd{
background-color:#FFF8E9;
}

#registrationArea div.resultSearchSchool ul.entryList01 li.even{
background-color:#fff;
}

#registrationArea div.resultSearchSchool ul.entryList01 li p{
float:left;
width:299px;
padding-left:42px;
background-image:url(images/school_division001.gif);
background-repeat:no-repeat;
}

#registrationArea div.resultSearchSchool p.cl01{background-position:0 0;}
#registrationArea div.resultSearchSchool p.cl02{background-position:0 -50px;}
#registrationArea div.resultSearchSchool p.cl03{background-position:0 -150px;}
#registrationArea div.resultSearchSchool p.cl04{background-position:0 -250px;}
#registrationArea div.resultSearchSchool p.cl05{background-position:0 -300px;}
#registrationArea div.resultSearchSchool p.cl06{background-position:0 -350px;}
#registrationArea div.resultSearchSchool p.cl07{background-position:0 -400px;}
#registrationArea div.resultSearchSchool p.cl08{background-position:0 -200px;}
#registrationArea div.resultSearchSchool p.cl09{background-position:0 -100px;}
#registrationArea div.resultSearchSchool p.cl10{background-position:0 -450px;}

#registrationArea div.resultSearchSchool ul.entryList01 li p a{
margin-right:3px;
}

#registrationArea div.resultSearchSchool ul.entryList01 li div.location{
float:left;
width:370px;
}

#registrationArea div.schoolProfile{
background:url(images/join_schoolProfile_bottom001.gif) no-repeat 0 100%;
}

#registrationArea div.companyProfile{
background:url(images/join_companyProfile_bottom001.gif) no-repeat 0 100%;
}

#registrationArea div.schoolProfile div.contents{
background:url(images/join_schoolProfile_top001.gif) no-repeat 0 0;
}

#registrationArea div.companyProfile div.contents{
background:url(images/join_companyProfile_top001.gif) no-repeat 0 0;
}

#registrationArea div.schoolProfile,
#registrationArea div.companyProfile{
border:1px solid #D6D6D6;
border-top:none;
border-bottom:1px solid #FBB14E;
*background-position:1px 100%;
}

#registrationArea div.schoolProfile div.contents,
#registrationArea div.companyProfile div.contents{
min-height:67px;
_height:67px;
padding:13px 10px 10px 45px;
}

#registrationArea div.schoolProfile dl dt,
#registrationArea div.companyProfile dl dt{
float:left;
width:120px;
}

#registrationArea div.schoolProfile dl dd,
#registrationArea div.companyProfile dl dd{
float:left;
width:568px;
}

#registrationArea div.schoolProfile dl dd p.name,
#registrationArea div.companyProfile dl dd p.name{
margin-bottom:5px;
font-weight:bold;
font-size:116%;
}

#registrationArea #editList01 ul.school,
#registrationArea #editList01 ul.company{
background:#FFF url(images/bg_edit_list002.gif) repeat-y -500px 0;
}

#registrationArea #editList01 ul.school dt,
#registrationArea #editList01 ul.company dt{
width:180px;
}

#registrationArea #editList01 ul.school dd,
#registrationArea #editList01 ul.company dd{
width:523px !important;
}

#registrationArea .SearchResult .confirm01{
border-bottom:none;
}

#registrationArea .SearchResult div.pageNavigation01{
width:743px;
}

#registrationArea .SearchResult .companyList{
width:745px;
border:1px solid #FBB14E;
border-bottom:none;
}

#registrationArea .SearchResult .companyList th{
vertical-align:top;
padding:5px 15px;
border-bottom:1px solid #FBB14E;
background:#FEE7C6;
}

#registrationArea .SearchResult .companyList td{
vertical-align:top;
padding:5px 15px;
border-bottom:1px solid #FBB14E;
background:#FFF;
}

#registrationArea .SearchResult .companyList .coInfo{
width:506px;
}

#registrationArea .SearchResult .companyList .coCategory{
width:177px;
background-image:url(images/dotline_vertical001.gif);
background-repeat:repeat-y;
}

#registrationArea .SearchResult .companyList td span{
color:#666;
font-size:83%;
}

#registrationArea .databank01{
margin:5px 0;
}


/*---- popuplayer:explanation:簡易説明 ----*/
#simpleprofile .explanation{
padding:8px 10px;
font-size:83%;
}

#simpleprofile .explanation h2{
margin-bottom:8px;
font-weight:bold;
text-align:center;
}


/*---- requestMail:ログイン・メアドでマイミク申請 ----*/
.requestMail span.inputAlert01{
display:block;
margin:3px 0;
padding-left:21px;
background:url(images/simplealert_alert002.gif) no-repeat 0 0;
color:#F00;
font-weight:bold;
font-size:83%;
text-align:left;
}

.requestMail .errorInput{
border:1px solid #F7B4B4;
background:#FEEDED;
}

.requestMail div.inputRequest{
min-height:265px;
_height:265px;
padding:15px 15px 0;
border:1px solid #FBB14E;
border-top:none;
background:#FFF url(images/join_promo004.jpg) no-repeat 449px 15px;
}

.requestMail div.inputRequest dl dt{
width:409px;
margin-bottom:5px;
}

.requestMail div.inputRequest dl dd,
.requestMail div.inputRequest p{
width:409px;
margin-bottom:18px;
overflow:hidden;
word-break:break-all;
}

.requestMail div.inputRequest dl dd.email input{
width:98%;
}

.requestMail div.inputRequest dl dd.intro textarea{
width:98%;
height:100px;
overflow:auto;
}


/*---- list_invite_friend:ログイン・紹介マイミクシィ ----*/
div.invite div.hideInfo01{
height:250px;
background:url(images/invite_about_mymixi.gif) no-repeat; 
text-indent:-9999px;
}

div.invite div.recommendFriendBox{
margin-top:0;
padding-top:10px;
}

div.invite div.recommendFriendBox div.confirm01{
border-bottom:1px solid #FBB14E !important;
}

div.invite div.recommendFriendBox div.confirm01 span{
display:block;
font-weight:normal;
}

div.invite div.recommendFriendBox div.moreLink01{
padding:5px 7px;
border-right:1px solid #FBB14E;
border-left:1px solid #FBB14E;
}

div.invite div.recommendFriendBox div.contents{
width:684px;
padding:15px 15px 5px;
border:1px solid #FBB14E;
background:url(images/invite_graph_bg.gif) no-repeat 0 80%;
}

div.invite div.recommendFriendBox div.parentalUser h4,
div.invite div.recommendFriendBox div.recommendUser h4{
display:none;
}

div.invite div.recommendFriendBox div.photoArea{
float:left;
width:126px;
border:1px solid #CCC;
background:#F2F2F2;
}

div.invite div.recommendFriendBox div.photoArea p{
width:94px;
text-align:center;
margin:10px 12px;
padding:10px 3px 5px;
border:1px solid #CCC;
background:#FFF;
word-break:break-all;
overflow:hidden;
}

div.invite div.recommendFriendBox div.recommendUser{
float:right;
width:548px;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon{
margin-bottom:10px;
background:url(images/invite_balloon_bg.gif) 0 5px;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon div{
margin-left:15px;
background:url(images/invite_balloon_top.gif) no-repeat 0 0;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon dl{
padding:10px 14px 6px;
background:url(images/invite_balloon_bottom.gif) no-repeat 0 100%;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon dt{
float:left;
width:76px;
padding:0;
text-align:center;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon dd{
float:right;
width:411px;
padding:0 0 0 18px;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon h5{
line-height:1.3;
margin-bottom:5px;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon p{
line-height:1.1;
margin-bottom:5px;
word-break:break-all;
overflow:hidden;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon ul{
text-align:right;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon li{
display:inline;
font-weight:bold;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon input{
vertical-align: middle;
margin:0 3px 0 10px;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon ul.formButtons01{
padding:3px 0 4px;
background:none;
}

div.invite div.recommendFriendBox div.recommendUser div.balloon ul.formButtons01 input{
font-weight:normal;
margin-right:0;
}

div.invite div.recommendFriendBox p.formButtons01{
clear:both;
border:1px solid #FBB14E;
border-top:none;
text-align:center;
}


/*---- listImportAddress:インポートアドレス ----*/
.listImportAddress div.sideList li.addressIcon a{
background:url(images/address001.gif) no-repeat 8px 50%;
}

.listImportAddress div.importedAddress{
margin-bottom:5px;
}

.listImportAddress div.listBox{
border:1px solid #FBB14E;
border-bottom:none;
}

.listImportAddress div.listBox table{
width:544px;
table-layout:fixed;
}

.listImportAddress div.listBox table th,
.listImportAddress div.listBox table td{
padding:7px 10px 5px;
border-bottom:1px solid #FBB14E;
background:url(images/dotline_vertical001.gif) repeat-y 100% 0;
word-break:break-all;
overflow:hidden;
}

.listImportAddress div.listBox table th{
background-color:#FEE7C6;
}

.listImportAddress div.listBox table th.name{
width:120px;
}

.listImportAddress div.listBox table th.email{
width:214px;
}

.listImportAddress div.listBox table td.email{
color:#999;
}

.listImportAddress div.listBox table .option{
width:140px;
background-image:none;
text-align:center;
}

.listImportAddress .messageArea p.actionBtn{
margin:20px 0 0;
text-align:center;
}


/*---- importContacts:アドレス帳友人招待 ----*/
.importContacts{
margin-top:15px;
}

.importContacts .contents{
padding:10px 14px;
border:1px solid #FBB14E;
border-top:none;
}

.importContacts .contents p{
position:relative;
height:55px;
line-height:55px;
padding-left:30px;
background:url(images/bg_btn_area001.gif) no-repeat 0 0;
font-weight:bold;
}

.importContacts .contents p span{
position:absolute;
top:10px;
right:30px;
}


/*---- mailSearchResult:アドレス検索結果 ----*/
div.mailSearchResult .contents{
padding:10px 14px;
border:1px solid #FBB14E;
border-top:none;
}

div.mailSearchResult .resultWrap{
padding-top:6px;
background:url(images/bg_btn_area_top001.gif) no-repeat 0 0;
}

div.mailSearchResult .resultWrap div{
width:659px;
padding:5px 13px 11px;
background:url(images/bg_btn_area_bottom001.gif) no-repeat 0 100%;
}

div.mailSearchResult .resultWrap div p{
display:inline-block;
*display:inline;
zoom:1;
vertical-align:middle;
}

div.mailSearchResult .resultWrap div p.info{
width:443px;
line-height:1.7;
padding-left:65px;
background:url(images/noimage_member53.gif) no-repeat 0 0;
word-wrap:break-word;
}

div.mailSearchResult .resultWrap div p.addMymixi{
width:146px;
text-align:right;
}


/*---- searchFriendMail:メアドから友人を探す ----*/
.searchFriendMail .importContacts,
.searchFriendMail #editList01{
margin:0 0 15px;
}

.searchFriendMail #editList01 li.emailSearch{
padding:15px 0;
}

.searchFriendMail .messageArea p.inviteLink{
text-align:center;
}

div.detailList01 ul.detailListContent li.addFriend{
border-bottom:none;
background:#FFF;
}

div.detailList01 ul.detailListContent li.addFriend p{
padding:10px;
}

div.detailList01 ul.detailListContent li.addFriend dl dt{
width:380px;
}

div.detailList01 ul.detailListContent li.addFriend dl dd{
width:197px;
text-align:right;
}

div.detailList01 ul.detailListContent li.addFriend dl dt span{
display:block;
margin-top:2px;
font-size:86%;
}

div.detailList01 ul.detailListContent li.addFriend dl dd span{
display:block;
margin-top:2px;
}

div.detailList01 ul.detailListContent li.addFriend dl dd span.addmylist{
padding-top:5px;
}

div.detailList01 ul.detailListContent li.addFriend dl dd span.addmylist a{
padding:3px 0 3px 20px;
background:url(images/add_myList002.gif) no-repeat 0 50%;
}