@charset "utf-8";

/*---- bodySubSection:common ----*/
div.bodySubSection{
background:url(images/bodysubsection_bg001.gif) no-repeat 0 100%;
}

div.bodySubSection div.heading01{
background:url(images/bodysubsection_head001.gif) no-repeat 0 0;
}

div.bodySubSection div.heading01 h2 a:link,
div.bodySubSection div.heading01 h2 a:visited,
div.bodySubSection div.heading01 h2 a:hover,
div.bodySubSection div.heading01 h2 a:active,
div.bodySubSection div.heading01 h2 a:focus{
color:#333;
}

div.bodySubSection div.contents{
border-right:1px solid #D0D0D1;
border-left:1px solid #D0D0D1;
background:#fff;
}

div.bodySubSection div.contents .moreLink01 a{
background:url(images/link_arrow002.gif) no-repeat 0 50%;
}


/*---- bodySubSection:home ----*/
#bodySub02 div.bodySubSection{
background:url(images/bodysubsection_bg001.gif) no-repeat 0 100%;
}

#bodySub02 div.bodySubSection div.heading01{
background:url(images/bodysubsection_head002.gif) no-repeat 0 0;
}

#bodySub02 div.bodySubSection div.heading01 ul.utility02 li a{
background:url(images/section_utility001.gif) no-repeat;
}

#bodySub02 div.bodySubSection div.heading01 ul.utility02 li.open a{
background-position:-45px 0;
}

#bodySub02 div.bodySubSection div.heading01 ul.utility02 li.close a{
background-position:-30px 0;
}


/*---- siteInfo:home ----*/
#bodySub02 #siteInfo div.heading01{
background-image:url(images/siteinfo_title001.gif);
}

#bodySub02 #siteInfo div.contents ul li{
background:url(images/list002.gif) no-repeat 0 0.8em;
font-weight:bold;
}

#bodySub02 #siteInfo div.contents ul li.noEmphasis a{
font-weight:normal;
}


/*---- mixiNews:home ----*/
#bodySub02 #mixiNews div.contents ul.newsTabs{
background:url(images/bg_cccccc001.gif) repeat-x 0 100%;
}

#bodySub02 #mixiNews div.contents ul.newsTabs li a{
background:url(images/tab_bodysub001.gif) no-repeat 100% 0;
color:#333;
}

#bodySub02 #mixiNews div.contents ul.newsTabs li a.on{
background-position:0 0;
}


/*---- communityFeed ----*/
#bodySub02 #communityFeed .contents li.event{
background:url(images/community_event001.gif) no-repeat 0 1px;
}

#bodySub02 #communityFeed .contents li.enquete{
background:url(images/community_enquete001.gif) no-repeat 0 1px;
}

#bodySub02 #communityFeed .contents li.bbs{
background:url(images/community_topic001.gif) no-repeat 0 0;
}

#bodySub02 #communityFeed .contents li p span{
color:#999;
}


/*---- keywordRanking ----*/
#keywordRanking div.contents p.keywordLink01 a{
background:url(images/hot001.gif) no-repeat 0 0;
}


/*---- help ----*/
#help ul li a{
background:url(images/list002.gif) no-repeat 0% 0.5em;
}


/*---- video ----*/
#video div.contents ul.utilityLink li.edit{
border-right:1px solid #dfdfdf;
}

#video div.contents p.moreLink01{
background:url(images/border_dot_horizontal001.gif) repeat-x 0 0;
}


/*---- AppliWidget ----*/
.appliWidget div.contents iframe{
border:0;
}

div.simpleMessageArea222{
background:none;
}

div.simpleMessageArea222 .simpleMessage{
background:none;
}

div.simpleMessageArea222 .simpleMessage .main{
background-image:url(images/simplealert_alert002.gif);
}

div.simpleMessageArea222 .simpleMessage .formButtons01{
background:none;
}


/*---- prContents ----*/
div.prContents{
border-right:1px solid #D0D0D1;
border-left:1px solid #D0D0D1;
background-color:#FFF;
}

div.prContents div.precedingMegaContents{
background:transparent url(images/border_dot_horizontal001.gif) repeat-x 0 100%;
}


/*---- collaboPr ----*/
#collaboPr .contents p.prLink{
background:url(images/border_dot_horizontal001.gif) repeat-x 0 0;
}


/*---- contentMatch ----*/
div#contentMatch div.contents{
border:1px solid #DEDEDE;
}

div#contentMatch dl dd a,
div#contentMatch dl dd a:hover{
color:#000;
}

div#contentMatch dd.siteHost a,
div#contentMatch dd.siteHost a:hover{
color:#008000;
}

div#contentMatch p a:link,
div#contentMatch p a:visited{
color:#999;
}

div#contentMatch p a:hover{
color:#960;
}


/*---- prContentsArea:NEWS ----*/
#prContentsArea div.prContentsBottom{
background:url(images/dotline_horizontal002.gif) repeat-x 0 0;
}


/*---- RelatedNews:関連ニュース ----*/
div#relatedNews li{
background:url(images/list001.gif) no-repeat 0% 0.7em;
}

div#relatedNews li a:visited{
color:#996699;
}


/* ----- recommend:メンバーの参加コミュ ----- */
div#recommend table.iconListTable02{
background:url(images/dotline_vertical003.gif) repeat-y 50% 0%;
}

div#recommend table.iconListTable02 tr{
background:url(images/bg_iconlist004.gif) repeat-x 0% 100%;
}

div#recommend table.iconListTable02 td a:link,
div#recommend table.iconListTable02 td a:visited,
div#recommend table.iconListTable02 td a:hover,
div#recommend table.iconListTable02 td a:active,
div#recommend table.iconListTable02 td a:focus{
background-color:transparent;
background-position:50% 50%;
background-repeat:no-repeat;
}


/*---- sideRankingByMymixi:ランキング ---- */
#sideRankingByMymixi table tr td.rank{
background:url(/img/basic/official_account/rankicon_r01_03_001.gif) no-repeat 10px 50%;
}

#sideRankingByMymixi table tr.rank01 td.rank{background-position:10px 50%;}
#sideRankingByMymixi table tr.rank02 td.rank{background-position:-50px 50%;}
#sideRankingByMymixi table tr.rank03 td.rank{background-position:-110px 50%;}

#sideRankingByMymixi ul li,
#sideRankingByMymixi .moreLink01{
background:url(images/border_dot_horizontal001.gif) repeat-x 0 0;
}

#sideRankingByMymixi ul li span.rank{
background:url(/img/basic/official_account/rankicon_r04_20_001.gif) no-repeat 0 0;
}

#sideRankingByMymixi ul li.rank04 span.rank{background-position:0 0;}
#sideRankingByMymixi ul li.rank05 span.rank{background-position:-32px 0;}
#sideRankingByMymixi ul li.rank06 span.rank{background-position:-64px 0;}
#sideRankingByMymixi ul li.rank07 span.rank{background-position:-96px 0;}
#sideRankingByMymixi ul li.rank08 span.rank{background-position:-128px 0;}
#sideRankingByMymixi ul li.rank09 span.rank{background-position:-160px 0;}
#sideRankingByMymixi ul li.rank10 span.rank{background-position:-192px 0;}
#sideRankingByMymixi ul li.rank11 span.rank{background-position:-224px 0;}
#sideRankingByMymixi ul li.rank12 span.rank{background-position:-256px 0;}
#sideRankingByMymixi ul li.rank13 span.rank{background-position:-288px 0;}
#sideRankingByMymixi ul li.rank14 span.rank{background-position:-320px 0;}
#sideRankingByMymixi ul li.rank15 span.rank{background-position:-352px 0;}
#sideRankingByMymixi ul li.rank16 span.rank{background-position:-384px 0;}
#sideRankingByMymixi ul li.rank17 span.rank{background-position:-416px 0;}
#sideRankingByMymixi ul li.rank18 span.rank{background-position:-448px 0;}
#sideRankingByMymixi ul li.rank19 span.rank{background-position:-480px 0;}
#sideRankingByMymixi ul li.rank20 span.rank{background-position:-512px 0;}


/*---- userSchoolList:学校 ----*/
#userSchoolList div.contents ul li{
background-position:0 8px;
background-repeat:no-repeat;
}

#userSchoolList div.contents ul li.cl01{background-image:url(images/cl001.gif);}
#userSchoolList div.contents ul li.cl02{background-image:url(images/cl002.gif);}
#userSchoolList div.contents ul li.cl03{background-image:url(images/cl003.gif);}
#userSchoolList div.contents ul li.cl04{background-image:url(images/cl004.gif);}
#userSchoolList div.contents ul li.cl05{background-image:url(images/cl005.gif);}
#userSchoolList div.contents ul li.cl06{background-image:url(images/cl006.gif);}
#userSchoolList div.contents ul li.cl07{background-image:url(images/cl007.gif);}
#userSchoolList div.contents ul li.cl08{background-image:url(images/cl008.gif);}
#userSchoolList div.contents ul li.cl09{background-image:url(images/cl009.gif);}
#userSchoolList div.contents ul li.cl10{background-image:url(images/cl010.gif);}


/*-------- activityFeed:フィード --------*/
#activityFeed ul.activityFeedList01 li{
background-repeat:no-repeat;
background-position:0 6px;
}

#activityFeed ul.activityFeedList01 li.birthday{
background:url(images/i_bd.gif) no-repeat 0 6px;
}

#activityFeed ul.activityFeedList01 li.profile{
background:url(images/profile001.gif) no-repeat 2px 7px;
}

#activityFeed ul.activityFeedList01 li.mikukore{
background:url(images/mikukore001.gif) no-repeat 0 8px;
}

#activityFeed ul.activityFeedList01 li.photo{
background:url(images/photo003.gif) no-repeat 1px 6px;
}

#activityFeed ul.activityFeedList01 li.photo a.album{
background:url(images/album001.gif) no-repeat left top;
}

#activityFeed ul.activityFeedList01 li.diary{
background:url(images/diary002.gif) no-repeat 1px 7px;
}

#activityFeed ul.activityFeedList01 li.video{
background:url(images/video002.gif) no-repeat 0 7px;
}

#activityFeed ul.activityFeedList01 li.review{
background:url(images/review001.gif) no-repeat 0 6px;
}

#activityFeed ul.activityFeedList01 li span.image a{
border:1px solid #DFDFDF;
}

#activityFeed ul.activityFeedList01 li.voice{
background:url(images/voice001.gif) no-repeat 0 6px;
}


/*---- recommendSide:あなたの友人かも ----*/
#recommendSide .recommendMember{
background:url(images/border_dot_horizontal001.gif) repeat-x 0 100%;
}

#recommendSide .recommendMember.last{
background:none;
}

/*---- mixiAppliArea:アプリ情報 ----*/
/*--- lPopularOne:人気アプリ1件紹介 ---*/
#mixiAppliArea .lPopularOne .appliOutline{
background:url(images/border_dot_horizontal001.gif) repeat-x 0 100%;
}


/*---- picupCommunity:注目のコミュニティ ----*/
#picupCommunity .contents ul{
background:url(images/border_dot_horizontal001.gif) repeat-x 0 100%;
}

#picupCommunity .contents ul li div.name{
background:url(images/hot001.gif) no-repeat 0 0;
}


/*---- picupReview:注目のレビュー ----*/
#picupReview .contents ul{
background:url(images/border_dot_horizontal001.gif) repeat-x 0 100%;
}